<div id="custom-navbar" class="animate__animated animate__fadeIn">
    <a class="custom-navbar-column" href="#">Shops</a>
    <a class="custom-navbar-column" href="#">Items</a>
    <a class="custom-navbar-column" href="#">Food</a>
</div>